body {
    font-size: 110%;
}

header{    
    height: 350px;
    background-image: url(img/bg2.jpg);
    background-position: center center;
}

h1{
    background-color: rgba(248, 248, 248, 0.75);
position: relative;
top: 80px;
    font-family: Verdana;   
    font-weight: bold;
    color: #416618;
    text-align: center; 
}

h2{    
    margin-top: 10px;    
    color: #416618;
    border-left: 3px dotted #416618;
    font-variant: small-caps;
    padding: 5px 15px;
}

h3{    
    color: #894f3b;    
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-align: center;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
}
li{
    list-style-image: url(img/lemon2.png);
    float: left;
    margin-left: 40px;
}
.ritkitott{
    letter-spacing: 2px;
    text-transform: uppercase;
}